:root {
  --fundoPrincipal: #111827;
  --fundoNavBar: #1f2937;
  --fundoHeaderPrincipal: #3a1a5f;
  --corTextoCabecalho: #f3f4f6;
}

.stars {
  color: #ffd700;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(155, 81, 224, 0.3);
  cursor: pointer;
}

.tagFiltro:hover {
  transform: scale(1.1);
  color: #b59ad8;
}

.active-filter {
  background-color: #6b21a8;
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
